body {
    padding: 10px;
    font-family: "HelveticaNeue-Light", Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}
h1.title,
h2.title,
h3.title,
h4.title,
h5.title,
h6.title {
    font-weight: 600;
}
h1.subtitle,
h2.subtitle,
h3.subtitle,
h4.subtitle,
h5.subtitle,
h6.subtitle {
    font-weight: 500;
}
p .body {
    font-weight: 400;
}
a {
    text-decoration: none;
    color: #3399ff;
}
.round {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
}
.round.lighter-round {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
}
.round.light-round {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
}
.round.regular-round {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
}
.round.heavy-round {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
}
.round.heavier-round {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
}
.round.circle {
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 12px;
    margin: 10px 5px;
    text-align: center;
    font-size: 21px;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
}
.round.pill {
    border-radius: 999px;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -o-border-radius: 999px;
}
.baseButton {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    background: #eee;
    color: #000;
    padding: 10px 20px;
    margin: 10px 5px;
    display: inline-block;
}
.baseButton.lighter-round {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
}
.baseButton.light-round {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
}
.baseButton.regular-round {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
}
.baseButton.heavy-round {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
}
.baseButton.heavier-round {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
}
.baseButton.circle {
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 12px;
    margin: 10px 5px;
    text-align: center;
    font-size: 21px;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
}
.baseButton.pill {
    border-radius: 999px;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -o-border-radius: 999px;
}
.baseButton.lighter-pad {
    padding: 2px 4px;
}
.baseButton.light-pad {
    padding: 5px 10px;
}
.baseButton.regular-pad {
    padding: 10px 20px;
}
.baseButton.heavy-pad {
    padding: 20px 50px;
}
.baseButton.heavier-pad {
    padding: 30px 90px;
}
.baseButton.tiny {
    padding: 5px 10px;
    font-size: 10px;
}
.baseButton.small {
    padding: 5px 10px;
    font-size: 12px;
}
.baseButton.medium {
    padding: 10px 20px;
    font-size: 16px;
}
.baseButton.large {
    padding: 20px 50px;
    font-size: 21px;
}
.baseButton.x-large {
    padding: 30px 90px;
    font-size: 28px;
}
.ss-button {
    border: 0;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    background: #eee;
    color: #000;
    padding: 10px 20px;
    margin: 10px 5px;
    display: inline-block;
}
.ss-button.red {
    background: #f14545;
    color: #fff;
}
.ss-button.red:hover {
    background-color: #ed1616;
}
.ss-button.green {
    background: #29d06f;
    color: #fff;
}
.ss-button.green:hover {
    background-color: #21a558;
}
.ss-button.yellow {
    background: #ffe500;
    color: #fff;
    color: #000;
}
.ss-button.yellow:hover {
    background-color: #ccb700;
    color: #000;
}
.ss-button.blue {
    background: #3399ff;
    color: #fff;
}
.ss-button.blue:hover {
    background-color: #007fff;
}
.ss-button.teal {
    background: #33aabb;
    color: #fff;
}
.ss-button.teal:hover {
    background-color: #288693;
}
.ss-button.purple {
    background: #903996;
    color: #fff;
}
.ss-button.purple:hover {
    background-color: #6d2b71;
}
.ss-button.soft-blue {
    background: #7298b5;
    color: #fff;
}
.ss-button.soft-blue:hover {
    background-color: #547fa0;
}
.ss-button.soft-green {
    background: #42b895;
    color: #fff;
}
.ss-button.soft-green:hover {
    background-color: #359277;
}
.ss-button.soft-red {
    background: #d87171;
    color: #fff;
}
.ss-button.soft-red:hover {
    background-color: #cd4949;
}
.ss-button.soft-pink {
    background: #d65c7c;
    color: #fff;
}
.ss-button.soft-pink:hover {
    background-color: #cc335b;
}
.ss-button.soft-purple {
    background: #885577;
    color: #fff;
}
.ss-button.soft-purple:hover {
    background-color: #69415c;
}
.ss-button.soft-yellow {
    background: #e8c256;
    color: #fff;
}
.ss-button.soft-yellow:hover {
    background-color: #e2b229;
}
.ss-button.dark-blue {
    background: #001d86;
    color: #fff;
}
.ss-button.dark-blue:hover {
    background-color: #001253;
}
.ss-button.dark-green {
    background: #02903e;
    color: #fff;
}
.ss-button.dark-green:hover {
    background-color: #015e28;
}
.ss-button.dark-red {
    background: #c10f0f;
    color: #fff;
}
.ss-button.dark-red:hover {
    background-color: #920b0b;
}
.ss-button.bright-green {
    background: #66cc00;
    color: #fff;
}
.ss-button.bright-green:hover {
    background-color: #4d9900;
}
.ss-button.bright-pink {
    background: #e000b3;
    color: #fff;
}
.ss-button.bright-pink:hover {
    background-color: #ad008a;
}
.ss-button.white {
    background: #fff;
    color: #fff;
    color: #000;
}
.ss-button.white:hover {
    background-color: #e6e6e6;
    color: #000;
}
.ss-button.gray {
    background: #777;
    color: #fff;
}
.ss-button.gray:hover {
    background-color: #5e5e5e;
}
.ss-button.light-gray {
    background: #eee;
    color: #fff;
    color: #000;
}
.ss-button.light-gray:hover {
    background-color: #d5d5d5;
    color: #000;
}
.ss-button.dark-gray {
    background: #333;
    color: #fff;
}
.ss-button.dark-gray:hover {
    background-color: #1a1a1a;
}
.ss-button.black {
    background: #000;
    color: #fff;
}
.ss-button.black:hover {
    background-color: #000000;
}
.ss-button.lighter-round {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
}
.ss-button.light-round {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
}
.ss-button.regular-round {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
}
.ss-button.heavy-round {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
}
.ss-button.heavier-round {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
}
.ss-button.circle {
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 12px;
    margin: 10px 5px;
    text-align: center;
    font-size: 21px;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
}
.ss-button.pill {
    border-radius: 999px;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -o-border-radius: 999px;
}
.ss-button.lighter-pad {
    padding: 2px 4px;
}
.ss-button.light-pad {
    padding: 5px 10px;
}
.ss-button.regular-pad {
    padding: 10px 20px;
}
.ss-button.heavy-pad {
    padding: 20px 50px;
}
.ss-button.heavier-pad {
    padding: 30px 90px;
}
.ss-button.tiny {
    padding: 5px 10px;
    font-size: 10px;
}
.ss-button.small {
    padding: 5px 10px;
    font-size: 12px;
}
.ss-button.medium {
    padding: 10px 20px;
    font-size: 16px;
}
.ss-button.large {
    padding: 20px 50px;
    font-size: 21px;
}
.ss-button.x-large {
    padding: 30px 90px;
    font-size: 28px;
}
.ss-bordered-button {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    background: #eee;
    color: #000;
    padding: 10px 20px;
    margin: 10px 5px;
    display: inline-block;
}
.ss-bordered-button.lighter-round {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
}
.ss-bordered-button.light-round {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
}
.ss-bordered-button.regular-round {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
}
.ss-bordered-button.heavy-round {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
}
.ss-bordered-button.heavier-round {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
}
.ss-bordered-button.circle {
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 12px;
    margin: 10px 5px;
    text-align: center;
    font-size: 21px;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
}
.ss-bordered-button.pill {
    border-radius: 999px;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -o-border-radius: 999px;
}
.ss-bordered-button.lighter-pad {
    padding: 2px 4px;
}
.ss-bordered-button.light-pad {
    padding: 5px 10px;
}
.ss-bordered-button.regular-pad {
    padding: 10px 20px;
}
.ss-bordered-button.heavy-pad {
    padding: 20px 50px;
}
.ss-bordered-button.heavier-pad {
    padding: 30px 90px;
}
.ss-bordered-button.tiny {
    padding: 5px 10px;
    font-size: 10px;
}
.ss-bordered-button.small {
    padding: 5px 10px;
    font-size: 12px;
}
.ss-bordered-button.medium {
    padding: 10px 20px;
    font-size: 16px;
}
.ss-bordered-button.large {
    padding: 20px 50px;
    font-size: 21px;
}
.ss-bordered-button.x-large {
    padding: 30px 90px;
    font-size: 28px;
}
.buildButtonColorConnections.red {
    background: #f14545;
    color: #fff;
}
.buildButtonColorConnections.red:hover {
    background-color: #ed1616;
}
.buildButtonColorConnections.green {
    background: #29d06f;
    color: #fff;
}
.buildButtonColorConnections.green:hover {
    background-color: #21a558;
}
.buildButtonColorConnections.yellow {
    background: #ffe500;
    color: #fff;
    color: #000;
}
.buildButtonColorConnections.yellow:hover {
    background-color: #ccb700;
    color: #000;
}
.buildButtonColorConnections.blue {
    background: #3399ff;
    color: #fff;
}
.buildButtonColorConnections.blue:hover {
    background-color: #007fff;
}
.buildButtonColorConnections.teal {
    background: #33aabb;
    color: #fff;
}
.buildButtonColorConnections.teal:hover {
    background-color: #288693;
}
.buildButtonColorConnections.purple {
    background: #903996;
    color: #fff;
}
.buildButtonColorConnections.purple:hover {
    background-color: #6d2b71;
}
.buildButtonColorConnections.soft-blue {
    background: #7298b5;
    color: #fff;
}
.buildButtonColorConnections.soft-blue:hover {
    background-color: #547fa0;
}
.buildButtonColorConnections.soft-green {
    background: #42b895;
    color: #fff;
}
.buildButtonColorConnections.soft-green:hover {
    background-color: #359277;
}
.buildButtonColorConnections.soft-red {
    background: #d87171;
    color: #fff;
}
.buildButtonColorConnections.soft-red:hover {
    background-color: #cd4949;
}
.buildButtonColorConnections.soft-pink {
    background: #d65c7c;
    color: #fff;
}
.buildButtonColorConnections.soft-pink:hover {
    background-color: #cc335b;
}
.buildButtonColorConnections.soft-purple {
    background: #885577;
    color: #fff;
}
.buildButtonColorConnections.soft-purple:hover {
    background-color: #69415c;
}
.buildButtonColorConnections.soft-yellow {
    background: #e8c256;
    color: #fff;
}
.buildButtonColorConnections.soft-yellow:hover {
    background-color: #e2b229;
}
.buildButtonColorConnections.dark-blue {
    background: #001d86;
    color: #fff;
}
.buildButtonColorConnections.dark-blue:hover {
    background-color: #001253;
}
.buildButtonColorConnections.dark-green {
    background: #02903e;
    color: #fff;
}
.buildButtonColorConnections.dark-green:hover {
    background-color: #015e28;
}
.buildButtonColorConnections.dark-red {
    background: #c10f0f;
    color: #fff;
}
.buildButtonColorConnections.dark-red:hover {
    background-color: #920b0b;
}
.buildButtonColorConnections.bright-green {
    background: #66cc00;
    color: #fff;
}
.buildButtonColorConnections.bright-green:hover {
    background-color: #4d9900;
}
.buildButtonColorConnections.bright-pink {
    background: #e000b3;
    color: #fff;
}
.buildButtonColorConnections.bright-pink:hover {
    background-color: #ad008a;
}
.buildButtonColorConnections.white {
    background: #fff;
    color: #fff;
    color: #000;
}
.buildButtonColorConnections.white:hover {
    background-color: #e6e6e6;
    color: #000;
}
.buildButtonColorConnections.gray {
    background: #777;
    color: #fff;
}
.buildButtonColorConnections.gray:hover {
    background-color: #5e5e5e;
}
.buildButtonColorConnections.light-gray {
    background: #eee;
    color: #fff;
    color: #000;
}
.buildButtonColorConnections.light-gray:hover {
    background-color: #d5d5d5;
    color: #000;
}
.buildButtonColorConnections.dark-gray {
    background: #333;
    color: #fff;
}
.buildButtonColorConnections.dark-gray:hover {
    background-color: #1a1a1a;
}
.buildButtonColorConnections.black {
    background: #000;
    color: #fff;
}
.buildButtonColorConnections.black:hover {
    background-color: #000000;
}
.buildBorderedButtonColorConnections.red {
    border-color: #f14545;
    color: #f14545;
}
.buildBorderedButtonColorConnections.red:hover {
    background-color: #ed1616;
    color: #fabcbc;
}
.buildBorderedButtonColorConnections.green {
    border-color: #29d06f;
    color: #29d06f;
}
.buildBorderedButtonColorConnections.green:hover {
    background-color: #21a558;
    color: #8fe9b5;
}
.buildBorderedButtonColorConnections.yellow {
    border-color: #ffe500;
    color: #ffe500;
}
.buildBorderedButtonColorConnections.yellow:hover {
    background-color: #ccb700;
    color: #fff280;
    color: #000;
}
.buildBorderedButtonColorConnections.blue {
    border-color: #3399ff;
    color: #3399ff;
}
.buildBorderedButtonColorConnections.blue:hover {
    background-color: #007fff;
    color: #b3d9ff;
}
.buildBorderedButtonColorConnections.teal {
    border-color: #33aabb;
    color: #33aabb;
}
.buildBorderedButtonColorConnections.teal:hover {
    background-color: #288693;
    color: #8dd6e0;
}
.buildBorderedButtonColorConnections.purple {
    border-color: #903996;
    color: #903996;
}
.buildBorderedButtonColorConnections.purple:hover {
    background-color: #6d2b71;
    color: #ca80cf;
}
.buildBorderedButtonColorConnections.soft-blue {
    border-color: #7298b5;
    color: #7298b5;
}
.buildBorderedButtonColorConnections.soft-blue:hover {
    background-color: #547fa0;
    color: #c6d5e1;
}
.buildBorderedButtonColorConnections.soft-green {
    border-color: #42b895;
    color: #42b895;
}
.buildBorderedButtonColorConnections.soft-green:hover {
    background-color: #359277;
    color: #9ddcc9;
}
.buildBorderedButtonColorConnections.soft-red {
    border-color: #d87171;
    color: #d87171;
}
.buildBorderedButtonColorConnections.soft-red:hover {
    background-color: #cd4949;
    color: #f3d5d5;
}
.buildBorderedButtonColorConnections.soft-pink {
    border-color: #885577;
    color: #885577;
}
.buildBorderedButtonColorConnections.soft-pink:hover {
    background-color: #69415c;
    color: #c19cb4;
}
.buildBorderedButtonColorConnections.soft-purple {
    border-color: #885577;
    color: #885577;
}
.buildBorderedButtonColorConnections.soft-purple:hover {
    background-color: #69415c;
    color: #c19cb4;
}
.buildBorderedButtonColorConnections.dark-blue {
    border-color: #001d86;
    color: #001d86;
}
.buildBorderedButtonColorConnections.dark-blue:hover {
    background-color: #001253;
    color: #063cff;
}
.buildBorderedButtonColorConnections.dark-green {
    border-color: #02903e;
    color: #02903e;
}
.buildBorderedButtonColorConnections.dark-green:hover {
    background-color: #015e28;
    color: #16fc77;
}
.buildBorderedButtonColorConnections.dark-red {
    border-color: #c10f0f;
    color: #c10f0f;
}
.buildBorderedButtonColorConnections.dark-red:hover {
    background-color: #920b0b;
    color: #f35d5d;
}
.buildBorderedButtonColorConnections.bright-green {
    border-color: #66cc00;
    color: #66cc00;
}
.buildBorderedButtonColorConnections.bright-green:hover {
    background-color: #4d9900;
    color: #a6ff4d;
}
.buildBorderedButtonColorConnections.bright-pink {
    border-color: #e000b3;
    color: #e000b3;
}
.buildBorderedButtonColorConnections.bright-pink:hover {
    background-color: #ad008a;
    color: #ff61df;
}
.buildBorderedButtonColorConnections.soft-yellow {
    border-color: #e8c256;
    color: #e8c256;
}
.buildBorderedButtonColorConnections.soft-yellow:hover {
    background-color: #e2b229;
    color: #f7ebc6;
}
.buildBorderedButtonColorConnections.white {
    border-color: #fff;
    color: #fff;
}
.buildBorderedButtonColorConnections.white:hover {
    background-color: #e6e6e6;
    color: #ffffff;
    color: #000;
}
.buildBorderedButtonColorConnections.gray {
    border-color: #777;
    color: #777;
}
.buildBorderedButtonColorConnections.gray:hover {
    background-color: #5e5e5e;
    color: #b7b7b7;
}
.buildBorderedButtonColorConnections.light-gray {
    border-color: #eee;
    color: #eee;
}
.buildBorderedButtonColorConnections.light-gray:hover {
    background-color: #d5d5d5;
    color: #ffffff;
    color: #000;
}
.buildBorderedButtonColorConnections.dark-gray {
    border-color: #333;
    color: #333;
}
.buildBorderedButtonColorConnections.dark-gray:hover {
    background-color: #1a1a1a;
    color: #737373;
}
.buildBorderedButtonColorConnections.black {
    border-color: #000;
    color: #000;
}
.buildBorderedButtonColorConnections.black:hover {
    background-color: #000000;
    color: #404040;
}
.buildMonotoneButtonColorConnections.red {
    color: #fdebeb;
    background-color: #ed1616;
    color: #f8a4a4;
}
.buildMonotoneButtonColorConnections.green {
    background-color: #21a558;
    color: #baf1d1;
}
.buildMonotoneButtonColorConnections.yellow {
    color: #fff7b3;
    background-color: #ccb700;
    color: #ffef66;
    color: #000;
}
.buildMonotoneButtonColorConnections.blue {
    color: #e5f2ff;
    background-color: #007fff;
    color: #99ccff;
}
.buildMonotoneButtonColorConnections.teal {
    background-color: #288693;
    color: #b6e4eb;
}
.buildMonotoneButtonColorConnections.purple {
    background-color: #6d2b71;
    color: #d9a5dd;
}
.buildMonotoneButtonColorConnections.soft-blue {
    color: #e7eef2;
    background-color: #547fa0;
    color: #b5c9d8;
}
.buildMonotoneButtonColorConnections.soft-green {
    background-color: #359277;
    color: #c3e9de;
}
.buildMonotoneButtonColorConnections.soft-red {
    color: #fefdfd;
    background-color: #cd4949;
    color: #eec1c1;
}
.buildMonotoneButtonColorConnections.soft-pink {
    background-color: #69415c;
    color: #d4bbcc;
}
.buildMonotoneButtonColorConnections.soft-purple {
    background-color: #69415c;
    color: #d4bbcc;
}
.buildMonotoneButtonColorConnections.dark-blue {
    background-color: #001253;
    color: #3a64ff;
}
.buildMonotoneButtonColorConnections.dark-green {
    background-color: #015e28;
    color: #48fc94;
}
.buildMonotoneButtonColorConnections.dark-red {
    background-color: #920b0b;
    color: #f68c8c;
}
.buildMonotoneButtonColorConnections.bright-green {
    background-color: #4d9900;
    color: #bfff80;
}
.buildMonotoneButtonColorConnections.bright-pink {
    background-color: #ad008a;
    color: #ff94e9;
}
.buildMonotoneButtonColorConnections.soft-yellow {
    color: #fdfbf3;
    background-color: #e2b229;
    color: #f4e2b0;
}
.buildMonotoneButtonColorConnections.white {
    background-color: #e6e6e6;
    color: #ffffff;
    color: #000;
}
.buildMonotoneButtonColorConnections.gray {
    background-color: #5e5e5e;
    color: #d0d0d0;
}
.buildMonotoneButtonColorConnections.light-gray {
    background-color: #d5d5d5;
    color: #ffffff;
    color: #000;
}
.buildMonotoneButtonColorConnections.dark-gray {
    background-color: #1a1a1a;
    color: #8c8c8c;
}
.buildMonotoneButtonColorConnections.black {
    background-color: #000000;
    color: #595959;
}
.ss-bordered-button {
    background: none;
    border: 1px solid #000;
    color: #000;
}
.ss-bordered-button.red {
    border-color: #f14545;
    color: #f14545;
}
.ss-bordered-button.red:hover {
    background-color: #ed1616;
    color: #fabcbc;
}
.ss-bordered-button.green {
    border-color: #29d06f;
    color: #29d06f;
}
.ss-bordered-button.green:hover {
    background-color: #21a558;
    color: #8fe9b5;
}
.ss-bordered-button.yellow {
    border-color: #ffe500;
    color: #ffe500;
}
.ss-bordered-button.yellow:hover {
    background-color: #ccb700;
    color: #fff280;
    color: #000;
}
.ss-bordered-button.blue {
    border-color: #3399ff;
    color: #3399ff;
}
.ss-bordered-button.blue:hover {
    background-color: #007fff;
    color: #b3d9ff;
}
.ss-bordered-button.teal {
    border-color: #33aabb;
    color: #33aabb;
}
.ss-bordered-button.teal:hover {
    background-color: #288693;
    color: #8dd6e0;
}
.ss-bordered-button.purple {
    border-color: #903996;
    color: #903996;
}
.ss-bordered-button.purple:hover {
    background-color: #6d2b71;
    color: #ca80cf;
}
.ss-bordered-button.soft-blue {
    border-color: #7298b5;
    color: #7298b5;
}
.ss-bordered-button.soft-blue:hover {
    background-color: #547fa0;
    color: #c6d5e1;
}
.ss-bordered-button.soft-green {
    border-color: #42b895;
    color: #42b895;
}
.ss-bordered-button.soft-green:hover {
    background-color: #359277;
    color: #9ddcc9;
}
.ss-bordered-button.soft-red {
    border-color: #d87171;
    color: #d87171;
}
.ss-bordered-button.soft-red:hover {
    background-color: #cd4949;
    color: #f3d5d5;
}
.ss-bordered-button.soft-pink {
    border-color: #885577;
    color: #885577;
}
.ss-bordered-button.soft-pink:hover {
    background-color: #69415c;
    color: #c19cb4;
}
.ss-bordered-button.soft-purple {
    border-color: #885577;
    color: #885577;
}
.ss-bordered-button.soft-purple:hover {
    background-color: #69415c;
    color: #c19cb4;
}
.ss-bordered-button.dark-blue {
    border-color: #001d86;
    color: #001d86;
}
.ss-bordered-button.dark-blue:hover {
    background-color: #001253;
    color: #063cff;
}
.ss-bordered-button.dark-green {
    border-color: #02903e;
    color: #02903e;
}
.ss-bordered-button.dark-green:hover {
    background-color: #015e28;
    color: #16fc77;
}
.ss-bordered-button.dark-red {
    border-color: #c10f0f;
    color: #c10f0f;
}
.ss-bordered-button.dark-red:hover {
    background-color: #920b0b;
    color: #f35d5d;
}
.ss-bordered-button.bright-green {
    border-color: #66cc00;
    color: #66cc00;
}
.ss-bordered-button.bright-green:hover {
    background-color: #4d9900;
    color: #a6ff4d;
}
.ss-bordered-button.bright-pink {
    border-color: #e000b3;
    color: #e000b3;
}
.ss-bordered-button.bright-pink:hover {
    background-color: #ad008a;
    color: #ff61df;
}
.ss-bordered-button.soft-yellow {
    border-color: #e8c256;
    color: #e8c256;
}
.ss-bordered-button.soft-yellow:hover {
    background-color: #e2b229;
    color: #f7ebc6;
}
.ss-bordered-button.white {
    border-color: #fff;
    color: #fff;
}
.ss-bordered-button.white:hover {
    background-color: #e6e6e6;
    color: #ffffff;
    color: #000;
}
.ss-bordered-button.gray {
    border-color: #777;
    color: #777;
}
.ss-bordered-button.gray:hover {
    background-color: #5e5e5e;
    color: #b7b7b7;
}
.ss-bordered-button.light-gray {
    border-color: #eee;
    color: #eee;
}
.ss-bordered-button.light-gray:hover {
    background-color: #d5d5d5;
    color: #ffffff;
    color: #000;
}
.ss-bordered-button.dark-gray {
    border-color: #333;
    color: #333;
}
.ss-bordered-button.dark-gray:hover {
    background-color: #1a1a1a;
    color: #737373;
}
.ss-bordered-button.black {
    border-color: #000;
    color: #000;
}
.ss-bordered-button.black:hover {
    background-color: #000000;
    color: #404040;
}
.raised {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}
.raised:hover {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.monotone.red {
    color: #fdebeb;
    background-color: #ed1616;
    color: #f8a4a4;
}
.monotone.green {
    background-color: #21a558;
    color: #baf1d1;
}
.monotone.yellow {
    color: #fff7b3;
    background-color: #ccb700;
    color: #ffef66;
    color: #000;
}
.monotone.blue {
    color: #e5f2ff;
    background-color: #007fff;
    color: #99ccff;
}
.monotone.teal {
    background-color: #288693;
    color: #b6e4eb;
}
.monotone.purple {
    background-color: #6d2b71;
    color: #d9a5dd;
}
.monotone.soft-blue {
    color: #e7eef2;
    background-color: #547fa0;
    color: #b5c9d8;
}
.monotone.soft-green {
    background-color: #359277;
    color: #c3e9de;
}
.monotone.soft-red {
    color: #fefdfd;
    background-color: #cd4949;
    color: #eec1c1;
}
.monotone.soft-pink {
    background-color: #69415c;
    color: #d4bbcc;
}
.monotone.soft-purple {
    background-color: #69415c;
    color: #d4bbcc;
}
.monotone.dark-blue {
    background-color: #001253;
    color: #3a64ff;
}
.monotone.dark-green {
    background-color: #015e28;
    color: #48fc94;
}
.monotone.dark-red {
    background-color: #920b0b;
    color: #f68c8c;
}
.monotone.bright-green {
    background-color: #4d9900;
    color: #bfff80;
}
.monotone.bright-pink {
    background-color: #ad008a;
    color: #ff94e9;
}
.monotone.soft-yellow {
    color: #fdfbf3;
    background-color: #e2b229;
    color: #f4e2b0;
}
.monotone.white {
    background-color: #e6e6e6;
    color: #ffffff;
    color: #000;
}
.monotone.gray {
    background-color: #5e5e5e;
    color: #d0d0d0;
}
.monotone.light-gray {
    background-color: #d5d5d5;
    color: #ffffff;
    color: #000;
}
.monotone.dark-gray {
    background-color: #1a1a1a;
    color: #8c8c8c;
}
.monotone.black {
    background-color: #000000;
    color: #595959;
}
.no-round {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
}
.solid {
    background: #eee;
    border: 0;
    color: #000;
}
.solid.red {
    background: #f14545;
    color: #fff;
}
.solid.red:hover {
    background-color: #ed1616;
}
.solid.green {
    background: #29d06f;
    color: #fff;
}
.solid.green:hover {
    background-color: #21a558;
}
.solid.yellow {
    background: #ffe500;
    color: #fff;
    color: #000;
}
.solid.yellow:hover {
    background-color: #ccb700;
    color: #000;
}
.solid.blue {
    background: #3399ff;
    color: #fff;
}
.solid.blue:hover {
    background-color: #007fff;
}
.solid.teal {
    background: #33aabb;
    color: #fff;
}
.solid.teal:hover {
    background-color: #288693;
}
.solid.purple {
    background: #903996;
    color: #fff;
}
.solid.purple:hover {
    background-color: #6d2b71;
}
.solid.soft-blue {
    background: #7298b5;
    color: #fff;
}
.solid.soft-blue:hover {
    background-color: #547fa0;
}
.solid.soft-green {
    background: #42b895;
    color: #fff;
}
.solid.soft-green:hover {
    background-color: #359277;
}
.solid.soft-red {
    background: #d87171;
    color: #fff;
}
.solid.soft-red:hover {
    background-color: #cd4949;
}
.solid.soft-pink {
    background: #d65c7c;
    color: #fff;
}
.solid.soft-pink:hover {
    background-color: #cc335b;
}
.solid.soft-purple {
    background: #885577;
    color: #fff;
}
.solid.soft-purple:hover {
    background-color: #69415c;
}
.solid.soft-yellow {
    background: #e8c256;
    color: #fff;
}
.solid.soft-yellow:hover {
    background-color: #e2b229;
}
.solid.dark-blue {
    background: #001d86;
    color: #fff;
}
.solid.dark-blue:hover {
    background-color: #001253;
}
.solid.dark-green {
    background: #02903e;
    color: #fff;
}
.solid.dark-green:hover {
    background-color: #015e28;
}
.solid.dark-red {
    background: #c10f0f;
    color: #fff;
}
.solid.dark-red:hover {
    background-color: #920b0b;
}
.solid.bright-green {
    background: #66cc00;
    color: #fff;
}
.solid.bright-green:hover {
    background-color: #4d9900;
}
.solid.bright-pink {
    background: #e000b3;
    color: #fff;
}
.solid.bright-pink:hover {
    background-color: #ad008a;
}
.solid.white {
    background: #fff;
    color: #fff;
    color: #000;
}
.solid.white:hover {
    background-color: #e6e6e6;
    color: #000;
}
.solid.gray {
    background: #777;
    color: #fff;
}
.solid.gray:hover {
    background-color: #5e5e5e;
}
.solid.light-gray {
    background: #eee;
    color: #fff;
    color: #000;
}
.solid.light-gray:hover {
    background-color: #d5d5d5;
    color: #000;
}
.solid.dark-gray {
    background: #333;
    color: #fff;
}
.solid.dark-gray:hover {
    background-color: #1a1a1a;
}
.solid.black {
    background: #000;
    color: #fff;
}
.solid.black:hover {
    background-color: #000000;
}
